@model Blog.Models.Post
<html>
<head>
    <body>
        <form action="/Post/BuscaCategoria" method="post">
            <label>
                Busca Categoria: <input name="buscacategoria" />
            </label>
            <button type="submit"> OK</button>
        </form>
    </body>
</head>
</html>